body {
	font-family: 'ubuntu';
	font-weight: 300;
	font-style: normal;
	color: #fff;
}
.jumbotron{
	background-color:#061639!important;
	color:#fff!important;
	text-align:center;
	background-image:
		radial-gradient(
			#203053,
			#061639
		);
}


h1 span{
	position: absolute;
}
.jumbotron h1{
 text-align:center;
 width:100%;
 font-size:25px!important;
 position: relative;
 margin-left: -80px!important;
}
h1 img {
	width: 30px;
}

@media (min-width: 768px) {
	.jumbotron h1{
	 text-align:center;
	 width:100%;
	 font-size:50px!important;
	 position: relative;
	 margin-left: -160px!important;
	}

	h1 img {
		width: 60px;
	}
	h2{
		margin: 0 auto;
		text-align:center;
	}
}

section {
	padding: 10px;
	min-height: 75px;
	width: 80%;
	margin: 20px auto 120px;
	text-align: center;
	-webkit-box-shadow: 0px -1px 47px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 47px -5px rgba(0,0,0,0.75);
box-shadow: 0px -1px 47px -5px rgba(0,0,0,0.75);
}
