body {
	font-family: 'ubuntu';
	font-weight: 300;
	font-style: normal;
	color: #fff;
	background-color: #6891F1;
	text-align: center;
}
h1 {
	width: 100%;
	position: relative;
	margin-left: -100px;
	font-size:50px;
}
h1 img {
	width: 60px;
}
h1 span{
	position: absolute;

}
section {
	padding: 10px;
	min-height: 75px;
	width: 80%;
	margin: 30px auto;
	text-align: center;
}
